<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Proyecto_sena/JEFT_J_R/frontend1/dist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ index.html [L]
</IfModule>